<template>
  <div>
    <p></p>
    <form @submit.prevent="addcontact">
      <div class="form-group">
      <input class="contact-input" placeholder="Add firstname" v-model="newcontact.fname">
      </div>
      <div class="form-group">
      <input class="contact-input" placeholder="Add surname" v-model="newcontact.sname">
      </div>
      <div class="form-group">
      <input class="contact-input" placeholder="Add id" v-model="newcontact.id">
      </div>
      <div class="form-group">
      <input class="contact-input" placeholder="Add description" v-model="newcontact.descr">
      </div>
      <div class="form-group">
      <input class="contact-input" placeholder="Default image" v-model="newcontact.url">
      </div>
      <div class="form-group">
      <input class="contact-input" placeholder="Add number" v-model="newcontact.number">
      </div>
      <button action="submit"  class="btn btn-default"  >Add</button>
    </form>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  name: 'Add',
  data () {
    return {
      newcontact: [
        {
          id: '',
          fname: '',
          sname: '',
          descr: '',
          number: '',
          pref: 0,
          banned: 0,
          url: ''
        }
      ]
    }
  },
  computed: {
    ...mapState([
      'contacts'
    ])
  },
  methods: {
    ...mapMutations([
      'addContact'
    ]),
    addcontact: function () {
      this.addContact(this.newcontact)
      this.newcontact = ''
    }
  }
}
</script>

<style>
</style>
