<template>
  <div id="PrefList">
      <table class="table table-bordered" id="can">
          <div v-for="(contact1) in contacts" v-bind:key="contact1.id">
              <div v-if="contact1.pref === 1">
      <thead class="thead-dark" >
        <tr>
        <th>Firstname</th>
        <th>Surname</th>
        <th>Number</th>
        <th>Image</th>
        </tr>
      </thead>
      <tbody>
         <td>{{contact1.fname}}</td>
         <td>{{contact1.sname}}</td>
         <td>{{contact1.number}}</td>
         <td><img :src="contact1.url" alt="" border=3 height=100 width=100/></td>
         </tbody>
        </div>
        </div>
      </table>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'PrefList',
  computed: {
    ...mapState([
      'contacts'
    ])
  }
}
</script>

<style>
td {
    text-align:left;
    width: 40%;
}
#can {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
background-color: rgb(197, 181, 162);
}
</style>
