<template>
<div>
   <div id="boi">
     <h1>Info</h1>
     <img :src="contact.url" alter="avatar"/>
     <br>
     <label>Firstname : </label>
     <label>{{contact.fname}}</label>
     <br>
     <label>Surname : </label>
     <label>{{contact.sname}}</label>
     <br>
     <label>Number : </label>
     <label>{{contact.number}}</label>
     <br>
     <label>Description : </label>
     <label>{{contact.descr}}</label>
   </div>
  </div>
</template>

<script>
export default {
  computed: {
    contact () {
      // eslint-disable-next-line
      return this.$store.state.contacts.find(vid => vid.id == this.$route.params.id)
    }
  }
}

</script>

<style>
#boi {
  background-color: #555555,
}
img {
  border-radius: 50%;
}
label {
  font-size: large;
}
</style>
