<template>
  <div class="container">
    <p>Update {{defineindex(this.$route.params.id)}}</p>
    <div>
    <form @submit.prevent="upcontact(contact, pip)" >
    <div class="form-group">
    <label> Id</label>
    <input type="text"  class="form-control"  v-model="contact.id" />
    </div>
    <div class="form-group">
    <label> Firstname</label>
    <input type="text"  class="form-control" v-model="contact.fname"/>
     </div>
    <div class="form-group">
    <label> Surname</label>
    <input type="text"  class="form-control"  v-model="contact.sname" />
     </div>
    <div class="form-group">
    <label> Number</label>
    <input type="text"   class="form-control"  v-model="contact.number" />
     </div>
    <div class="form-group">
    <label > Description</label>
    <input type="text"  class="form-control"  v-model="contact.descr" />
     </div>
    <div class="form-group">
    <label>Image  :</label>
    <img :src="contact.url" alt="" border=3 height=50 width=50 />
    <input type="text"  class="form-control" :value="contact.url"/>
     </div>
    <div class="checkbox">
    <button action="submit" v-on:click="upcontact(contact, pip)" class="btn btn-primary">update
    </button>
    </div>
    </form>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
export default {
  computed: {
    contact () {
      // eslint-disable-next-line
      return this.$store.state.contacts.find(vid => vid.id == this.$route.params.id)
    },
    ...mapState([
      'contacts'
    ])
  },
  name: 'Update',
  data () {
    return {
      index: null,
      pip: null
    }
  },
  methods: {
    ...mapActions([
      'update'
    ]),
    ...mapMutations([
      'updateContact'
    ]),
    upcontact: function (contact, pip) {
      console.log(contact.fname)
      this.updateContact(contact, pip)
      console.log(pip)
    },
    defineindex: function (index) {
      var pip = index
      console.log(pip)
    }

  }
}
</script>

<style>
</style>
