<template>
  <div id="ContactList" class="jumbotron text-center">
    <contact ></contact>
  </div>
</template>

<script>
import Contact from '@/components/Contact'
export default {
  name: 'ContacList',
  components: {
    Contact: Contact
  }
}
</script>

<style>
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}
</style>
