<template>
    <div class="Contact">
      <input class="form-control" type="text" id="name" v-on:keyup="Search" placeholder="Search for names.." title="Type in a name">
      <table class="table table-striped" id="searchTable">
      <div v-for="(contact1) in contacts" v-bind:key="contact1.id">
      <thead>
      <tr>
        <th>Firstname</th>
        <th>Surname</th>
        <th>Number</th>
        <th>Image</th>
        <th> Actions </th>
      </tr>
      </thead>
      <tr>
    <td>{{contact1.fname}}</td>
    <td>{{contact1.sname}}</td>
    <td>{{contact1.number}}</td>
    <td><img :src="contact1.url" alt="" border=3 height=100 width=100/></td>
    <div>
      <router-link :to="{ name: 'Show', params: { id: contact1.id }}"  >
      <button class="btn btn-primary" action="submit" >Details</button></router-link>
      <router-link :to="{ name: 'Update', params: { id: contact1.id }}"  >
      <button class="btn btn-default" action="submit" >Update</button>
      </router-link>
      <button class="btn btn-warning" v-on:click="remove(contact1.id)" >Delete</button>
      <fieldset class="rating"><input type="checkbox" :id="contact1.id" name="rating" v-on:click="Star(contact1.pref, contact1.id)" /><label class = "full" :for="contact1.id" title="pref"></label> </fieldset>
      <fieldset class="ban"><input type="checkbox" :id="contact1.fname" name="ban" v-on:click="Ban(contact1.pref, contact1.id)" /><label :for="contact1.fname" title="ban"> </label> </fieldset>
      <!--<button class="ban">
        <label></label>
      </button>-->
    </div>
    </tr>
    </div>
    </table>
    </div>
</template>

<script>
import store from '@/store'
import { mapState, mapActions, mapMutations } from 'vuex'
export default {
  name: 'Contact',
  computed: {
    ...mapState([
      'contacts'
    ])
  },
  methods: {
    ...mapActions([
      'remove'
    ]),
    ...mapMutations([
      'removec',
      'starContact',
      'BanContact'
    ]),
    remove: function (contact1) {
      store.dispatch('remove')
    // this.remove(contact1)
    },
    Star: function (pref, index) {
      console.log(pref, index)
      this.starContact(index)
      console.log('Star M start')
    },
    Ban: function (banned, index) {
      console.log(banned, index)
      this.starContact(index)
      console.log('Ban M start')
    },
    Search: function () {
      // eslint-disable-next-line
      var td, i, txtValue,
        input = document.getElementById('name'),
        filter = input.value.toUpperCase(),
        table = document.getElementById('searchTable'),
        tr = table.getElementsByTagName('tr')
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName('td')[0]
        if (td) {
          txtValue = td.textContent || td.innerText
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = ''
          } else {
            tr[i].style.display = 'none'
          }
        }
      }
    }
  }
}
</script>

<style>
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
#name {
  background-color: #111954;
  text-align: center;
  color: white;
  width: 20%;
  position: Absolute;
  top: 40px;
  right: 0px;
}
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

h3 {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}
fieldset, label { margin: 1px; padding: 20px; }
body{ margin: 20px; }
.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
.ban > input { display: none; }
.ban > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f05e";
}
.ban > input:checked ~ label, /* show gold star when clicked */
.ban:not(:checked) > label:hover, /* hover current star */
.ban:not(:checked) > label:hover ~ label { color: rgb(238, 21, 5);  } /* hover previous stars in list */
</style>
