<template>
 <div id="Filter" class="vue-app">
   <select>
       <option>
           hello
       </option>
   </select>
</div>
</template>

<script>
export default {
  name: 'Filter'
}
</script>

<style>
</style>
