<template>
  <div id="app">
     <!--<img src="https://thumbs.gfycat.com/MatureGiganticAlbertosaurus-small.gif" alter="MyContacts" height=300 width=500>-->
    <div id="nav">
      <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
      <li class="nav-item active">
      <router-link to="/"  class="nav-link">ContactList</router-link>
      </li>
       <li class="nav-item">
      <router-link to="/banlist"  class="nav-link">  Ban List</router-link>
      </li>
       <li class="nav-item">
      <router-link to="/pref"  class="nav-link"> Pref. List</router-link>
      </li>
      <li class="nav-item">
      <router-link to="/add" class="nav-link">Add contact</router-link>
        </li>
        </ul>
      </nav>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
   text-align: center;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
